<%= form_with model: @company do |form| %>
  <div class="field">
    <%= form.label :company_name, "Company Name(required)" %><br>
    <%= form.text_field :company_name %>
    <% company.errors.full_messages_for(:company_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :website %><br>
    <%= form.text_field :website %>
    <% company.errors.full_messages_for(:website).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :company_notes %><br>
    <%= form.text_field :company_notes %>
    <% company.errors.full_messages_for(:company_notes).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class= "form_button">
    <%= form.submit %>
  </div>
<% end %>
