<article class="app">
  <header>
    <%= link_to app do %>
      <h4 class="app-link"><%= app.job_title%></h4>
    <% end %>
  </header>

  <p class="company_id">
  Company Name
  <div>
    <%= app.company.company_name%>
  </p>

  Upcoming Dates
  <div>
  <p class="date">
    <%if route_finder(app.id)%>
      <%= route_finder(app.id).interview_date%>
    <%end%>
  </p>

<%# <%=@current_user.inspect%>


  Application Status
  <p class="status">
    <%= app.application_status%>
  </p>
</article>