<div class="container">
  <table class="table is-striped">
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Company Name</th>
        <th>Upcoming Dates</th>
        <th>Application Status</th>
      </tr>
    </thead>
    <tbody>
      <%- apps.each do |app|%>
        <tr>
          
          <th>
            <%= link_to app do %>
              <%= app.job_title%>
            <% end %>
          </th>

          <td>
            <%= app.company.company_name%>
          </td>

          <td>
          <%if route_finder(app.id)%>
            <%= route_finder(app.id).interview_date%>
            <%else%>
            <%=""%>
          <%end%>
          </td>
          
          <td class="status-icon">
            <%if app.application_status == "Interview pending"%>
            <span class="icon is-large">
              <i class="fa fa-file-text-o fa-3x"></i>
            </span>
            <%end%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
