<div class="container">
  <table class="table is-striped is-hoverable pt-4" id="example">
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Company Name</th>
        <th>Upcoming Dates</th>
        <th>Application Status</th>
      </tr>
    </thead>
    <tbody>
      <%- apps.each do |app|%>
        <tr>
          
          <th class="job-title pt-3">
            <%= link_to app do %>
              <%= app.job_title%>
            <% end %>
          </th>

          <td class="company-name pt-3">
            <%= app.company.company_name%>
          </td>

          <td class="interview-date pt-3">
          <%if route_finder(app.id)%>
            <%= route_finder(app.id).interview_date.strftime("%B %d, %Y")%>
            <%else%>
            <%=""%>
          <%end%>
          </td>
          
          <td class="status-icon">
            <%if app.application_status == "Resume sent"%>
              <span class="icon is-medium has-text-success" aria-label="Resume sent">
                <i class="fa fa-file-text fa-2x" title="Resume sent"></i>
              </span>
            <%elsif app.application_status == "Interview pending"%>
              <span class="icon is-medium has-text-warning">
                <i class="fa fa-users fa-2x" title="Interview pending" aria-hidden="true"></i>
              </span>
            <%elsif app.application_status == "Interview completed"%>
              <span class="icon is-medium has-text-success">
                <i class="fa fa-users fa-2x" title="Interview completed" aria-hidden="true"></i>
              </span>
            <%end%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
