<section class="hero is-info my-4">
  <div class="hero-body">
    <p class="title">
   <%= @app.job_title%>
    </p>
    <p class="subtitle">
      <%=@app.company.company_name%>
    </p>
  </div>

</section>

<div class="tile is-ancestor mx-4">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-danger">
          <p class="title">Upcoming Interviews</p>
          <p class="subtitle">Whats next?</p>
          <div class="buttons">
          <a class="button is-primary" href="<%=@app.id%>/interviews/new" role="button">Add Interview</a>
          </div>
          <div class="content">
            <%if interview_finder(@app.id)%>
              <% interview_finder(@app.id).each do |interview|%>
                <%if !interview_completed(interview)%>
                  <%= render 'interview', interview: interview %>
                <%end%>
              <%end%>
            <%end%>
          </div>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Past Interviews</p>
          <div class="content">
            <%if interview_finder(@app.id)%>
              <% interview_finder(@app.id).each do |interview|%>
                <%if interview_completed(interview)%>
                  <%= render 'interview', interview: interview %>
                <%end%>
              <%end%>
            <%end%>
          </div>
        </article>
      </div>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-info">
          <p class="title">Company</p>
          <div class="buttons">
          <a class="button is-primary" href="/companies/<%=@app.company.id%>/edit" role="button">Edit this Company</a>
          </div>
          <p class="subtitle"><%=@app.company.company_name%></p>
          <p class="subtitle">Website</p>
          <div class="content">
            <%= @app.company.website %>
          </div>
          <p class="subtitle">Notes</p>
          <div class="content">
            <%=@app.company.company_notes%>
          </div>
        </article>
        <article class="tile is-child notification is-success">
          <p class="title">Documents</p>
          <p class="subtitle">Resume</p>
          <div class="content">
            <%= link_to 'Download Resume', @app.resume, download: '' %>
          </div>
          <p class="subtitle">Cover Letter</p>
          <div class="content">
          <%= link_to 'Download Cover Letter', @app.cover_letter, download: '' %>
          </div>
          <p class="subtitle">Project</p>
          <div class="content">
            <%= @app.project %>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-primary">
      <div class="content">
        <p class="title">Job Details</p>
        <div class="buttons">
          <a class="button is-primary" href="<%=@app.id%>/edit" role="button">Edit this Application</a>
          </div>
        <p class="subtitle">Project Deadline</p>
        <div class="content">
          <%= @app.project_deadline %>
        </div>
        <p class="subtitle">Application Deadline</p>
        <div class="content">
          <%= @app.application_deadline %>
        </div>
        <p class="subtitle">Application Status</p>
        <div class="content">
          <%= @app.application_status %>
        </div>
        <p class="subtitle">Applied Date</p>
        <div class="content">
          <%= @app.applied_date %>
        </div>
        <p class="subtitle">Notes</p>
        <div class="content">
          <%= @app.notes %>
        </div>
      </div>
    </article>
  </div>
</div>
