<section class="app">
<header>
 
<h1>Interviews</h1>
<a class="btn btn-primary" href="<%=@app.id%>/interviews/new" role="button">Add Interview</a>



</header>
 <div class="interview-panel">
    <%if interview_finder(@app.id)%>
      <% interview_finder(@app.id).each do |interview|%>
      <%= render 'interview', interview: interview %>
       <%end%>
    <%end%>
  </div>
  
 <div class="company-panel">
    <%if @app.company%>
    <h3>Company</h3>
    <h5>Company Name</h5>
      <%=@app.company.company_name%>
      <h5>Company Notes</h5>
       <%=@app.company.company_notes%>
    <%end%>
   </div>

<header>
<h1>Jobs</h1>
</header>
<header>
      <h4><%= @app.job_title%></h4>
  </header>
  
<article class="app-detail">
  <div class="row">
  <dl class="dl-horizontal" >
    <dt>Company Name</dt>
    <dd><%= @app.company.company_name %></dd>
    <dt>Application Deadline</dt>
    <dd><%= @app.application_deadline %></dd>
     <dt>Applied Date</dt>
    <dd><%= @app.applied_date %></dd>
    <dt>Application Status</dt>
    <dd><%= @app.application_status %></dd>
    <dt>Notes</dt>
    <dd><%= @app.notes %></dd>
    </div>  
  </article>

  

</section>